/* === BRAND COLOR === */
:root {
    --bg-main: #1e1e1e;
    --bg-secondary: #2a2a2a;

    --pink: #ffb3c1;
    --yellow: #ffe8a3;
    --brown: #ae8b69;
    --green: #beebc1;

    --text-main: #ffffff;
    --text-secondary: #cccccc;
}

/* === GLOBAL === */
body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Open Sans', sans-serif;
}

/* HEADINGS */
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: var(--bg-secondary);
}

.nav-link {
    color: var(--text-main) !important;
}

.nav-link:hover {
    color: var(--pink) !important;
}

/* SECTIONS */
.section-box {
    background-color: var(--bg-secondary);
    padding: 30px;
    border-radius: 15px;
}

/* PRODUCT COLORS */
.pink { background-color: var(--pink); color: black; }
.yellow { background-color: var(--yellow); color: black; }
.brown { background-color: var(--brown); color: black; }
.green { background-color: var(--green); color: black; }

/* BUTTON */
.btn-custom {
    background-color: var(--pink);
    border: none;
    color: black;
}

.btn-custom:hover {
    background-color: var(--yellow);
}

/* FOOTER */

footer {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}